/* 一行超出隐藏 */
.text-overflow {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
}

/* 两行超出隐藏 */
.two-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    overflow: hidden;
}